Repository zealic/dockerfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coinbox-bitcoin, coinbox-filecoin, coinbox-litecoin, coinbox-monero, devel-docker, devel-s3fs, network-frp, network-shadowsocks, toolkit, toolkit-hashicorp

.gitlab-ci.yml:

include:
  - remote: https://arp.to/@ci/docker.yml

coinbox-bitcoin:
  stage: build
  only:
    changes:
      - coinbox/bitcoin/**/*
  variables:
    IMAGE_DIR: coinbox/bitcoin
  script:
    - make

coinbox-filecoin:
  stage: build
  only:
    changes:
      - coinbox/filecoin/**/*
  variables:
    IMAGE_DIR: coinbox/filecoin
  script:
    - make

coinbox-litecoin:
  stage: build
  only:
    changes:
      - coinbox/litecoin/**/*
  variables:
    IMAGE_DIR: coinbox/litecoin
  script:
    - make

coinbox-monero:
  stage: build
  only:
    changes:
      - coinbox/monero/**/*
  variables:
    IMAGE_DIR: coinbox/monero
  script:
    - make

devel-docker:
  stage: build
  only:
    changes:
      - devel/docker/**/*
  variables:
    IMAGE_DIR: devel/docker
  script:
    - make

devel-s3fs:
  stage: build
  only:
    changes:
      - devel/s3fs/**/*
  variables:
    IMAGE_DIR: devel/s3fs
  script:
    - make

network-frp:
  stage: build
  only:
    changes:
      - network/frp/**/*
  variables:
    IMAGE_DIR: network/frp
  script:
    - make

network-shadowsocks:
  stage: build
  only:
    changes:
      - network/shadowsocks/**/*
  variables:
    IMAGE_DIR: network/shadowsocks
  script:
    - make

toolkit:
  stage: build
  only:
    changes:
      - toolkit/**/*
  variables:
    IMAGE_DIR: toolkit
  script:
    - make

toolkit-hashicorp:
  stage: build
  only:
    changes:
      - toolkit/**/*
  variables:
    IMAGE_DIR: toolkit
    IMAGE_TAG: hashicorp
    IMAGE_FILE: Dockerfile.hashicorp
  script:
    - make

* Fix docker build.
  devel/docker/Dockerfile
Due: devel-docker

* Update README.
  README.md
Due: none

* Update README for toolkit.
  README.md
Due: none

* Update s3fs.
  devel/s3fs/Dockerfile
Due: devel-s3fs

+ Update OpenVPN.
  .gitlab-ci.yml
  network/openvpn/Dockerfile
Due: none

* Update dnsforwarder.
  .gitlab-ci.yml
  network/dnsforwarder/Dockerfile
Due: none

* Update chinadns.
  .gitlab-ci.yml
  network/chinadns/Dockerfile
  network/chinadns/run-dns.sh
Due: none

* Update gost.
  .gitlab-ci.yml
  network/gost/Dockerfile
Due: none

* Update ShadowVPN.
  .gitlab-ci.yml
  network/shadowvpn/Dockerfile
  network/shadowvpn/entrypoint.sh
Due: none

* Rename run-ss to entrypoint.sh.
  Makefile
  README.md
  network/shadowsocks/Dockerfile
  network/shadowsocks/entrypoint.sh
Due: network-shadowsocks

* Improve ss.
  network/shadowsocks/Dockerfile
Due: network-shadowsocks

* Fetch with depth.
  network/dnsforwarder/Dockerfile
  network/shadowsocks/Dockerfile
  network/shadowvpn/Dockerfile
Due: network-shadowsocks

+ Added zerotier.
  .gitlab-ci.yml
  README.md
  network/zerotier/Dockerfile
  network/zerotier/entrypoint.sh
Due: none

* Zerotier join network by environment variables.
  network/zerotier/entrypoint.sh
Due: none

* Fix zerotier networks.d.
  network/zerotier/entrypoint.sh
Due: none

* Update ocserv to 0.12.3.
  .gitlab-ci.yml
  README.md
  network/ocserv/Dockerfile
  network/ocserv/README.md
  network/ocserv/entrypoint.sh
Due: none

* pam and nss support for ocserv.
  network/ocserv/Dockerfile
Due: none

* With bash.
  network/ocserv/Dockerfile
Due: none

- Remove README.
  network/shadowsocks/README.md
Due: network-shadowsocks

* Fix ss.
  network/shadowsocks/Dockerfile
Due: network-shadowsocks

Update
  network/shadowvpn/Dockerfile
Due: none

* Missing iptables.
  network/shadowvpn/Dockerfile
Due: none

Update Zerotier to 1.4.4.
  network/zerotier/Dockerfile
Due: none

* Extract jobs.yml
  .gitlab-ci.yml
  Makefile
  coinbox/jobs.yml
  devel/jobs.yml
  network/jobs.yml
Due: none

* Fix file name.
  .gitlab-ci.yml
Due: none

* Update bitcoin to 0.18.1
  coinbox/bitcoin/Dockerfile
Due: coinbox-bitcoin

* Extract root jobs.
  .gitlab-ci.yml
  jobs.yml
Due: none

* Update litecoin to 0.17.1
  coinbox/jobs.yml
  coinbox/litecoin/Dockerfile
Due: coinbox-litecoin

* Move toolkit to misc, and build only master branch.
  .gitlab-ci.yml
  devel/jobs.yml
  misc/jobs.yml
  misc/toolkit/Dockerfile
  misc/toolkit/Dockerfile.hashicorp
  misc/toolkit/README.md
  network/jobs.yml
Due: none

* Revert master only.
  coinbox/jobs.yml
  devel/jobs.yml
  misc/jobs.yml
  network/jobs.yml
Due: none

* Push only master.
  Makefile
Due: none

* Fix makefile.
  Makefile
Due: none

* Use rules improve jobs.
  coinbox/jobs.yml
Due: none

* Improve rules.
  coinbox/jobs.yml
Due: none

* Move manual to last.
  coinbox/jobs.yml
Due: none

* Use ROOTMAKE.
  Makefile
Due: none
